<%= form_for(voice) do |f| %>
  <% if voice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voice.errors.count, "error") %> prohibited this voice from being saved:</h2>

      <ul>
      <% voice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creation %>
    <%= f.date_select :creation %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :last %>
    <%= f.text_field :last %>
  </div>

  <div class="field">
    <%= f.label :converted %>
    <%= f.check_box :converted %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="field">
    <%= f.label :source_url %>
    <%= f.text_field :source_url %>
  </div>

  <div class="field">
    <%= f.label :destination_url %>
    <%= f.text_field :destination_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
